# Files to be kept under a git clean -f
.code-workspace.code-workspace
.gitignore
.vscode
.*
cases/*/*.nc
cases/*/*/*/*.nc
cases/*/*.npy
cases/*/*/*/*.npy
cases/*/*/*.npy
cases/*/*.mp4
cases/*/*0
cases/*/*/*0
cases/*/frames/*
